/* Main CSS document */

body {
	background: radial-gradient(circle, rgba(195,34,91,1) 45%, rgba(253,163,45,1) 100%);
}

nav {
	background: #6610f2;
}

.content {
	background-color: gray;
}

#headline {
	text-align: center;
}